################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/
/ResourceMonitor/.vs/
/ResourceMonitor/Client/bin/
/ResourceMonitor/Client/obj/
/ResourceMonitor/Instalador/
/ResourceMonitor/OpenHardwareMonitorLib/Bin/
/ResourceMonitor/OpenHardwareMonitorLib/obj/
/ResourceMonitor/packages/
/ResourceMonitor/Server/bin/
/ResourceMonitor/Server/obj/
/ResourceMonitor/visual-studio/
/ResourceMonitor/Server/Web/package.json
/ResourceMonitor/Server/Web/package-lock.json
/ResourceMonitor/Server/Web/node_modules/
/ResourceMonitor/Server/Web/configs/
/ResourceMonitor/Server/Web_mdb5/
