################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/
/ResourceMonitor/.vs/ResourceMonitor/v16
/ResourceMonitor/Client/bin/
/ResourceMonitor/Client/obj/
/ResourceMonitor/OpenHardwareMonitorLib/Bin/
/ResourceMonitor/OpenHardwareMonitorLib/obj/
/ResourceMonitor/Server/bin/
/ResourceMonitor/Server/obj/
